**Conditional Logics**

**01.Checking input number is even or odd**

In [1]:
x = int(input())
if x%2 == 0 :
    print('Even')
else :
    print('Odd')

Even

**02.Check if the input string 1st character is any vowel**

In [2]:
s = input()
vowels = ['A','E','I','O','U','a','e','i','o','u']
if s[0] in vowels :
    print('YES')
else :
    print('NO')

YES

**03.Write a Python program which accepts the radius of a circle from the user
and compute the area.**

In [4]:
import numpy as np
r = float(input())
area = np.pi * (r**2)
print(area)

314.1592653589793

**04.Write a Python program to convert temperatures to and from celsius,
fahrenheit.**

In [5]:
c = float(input())
f = (9.00*c/5.00) + 32.00
print(f)

97.88000000000001

**5. Take input of age of 3 people by user and determine oldest and youngest
among them.**

In [26]:
x,y,z = [int(i) for i in input().split()]
if x>=z :
    x,z= z,x
if y<=x :
    y,x = x,y
if y>=z :
    y,z = z,y
if x == z :
  print('youngest : {} {} {} oldest : {} {} {}'.format(x,y,z,x,y,z))
elif x!=y and y==z :
  print('youngest : {} oldest :  {} {}'.format(x,y,z))
elif x==y and y!=z :
  print('youngest : {} {} oldest : {}'.format(x,y,z))
elif x!=y and y!=z :
  print('youngest : {} oldest : {}'.format(x,z))

youngest : 11 11 oldest : 20

6. A school has following rules for grading system :

| Marks Range | Grade |
|-------------|-------|
| Below 25    | F     |
| 25 to 45    | E     |
| 45 to 50    | D     |
| 50 to 60    | C     |
| 60 to 80    | B     |
| Above 80    | A     |

Now, ask the user to enter marks and print the corresponding grade.

In [33]:
mark = float(input())
if mark < 25 :
    print('Grade is F')
elif 25 <= mark < 45 :
    print('Grade is E')
elif 45 <= mark < 50 :
    print('Grade is D')
elif 50 <= mark < 60 :
    print('Grade is C')
elif 60 <= mark < 80 :
    print('Grade is B')
else :
    print('Grade is A')

Grade is A

7. Write a program to trace your subject mark. Your program should fulfill
the following conditions:

- If the subject mark is below 0 and above 100, print “error: mark should be between
  0 and 100 only”

- Students will fail in the subject if their mark is below 50.
  - Display: "Student [Name] from Class [Class], Section [Section] has scored [Mark] which is below 50. Result: Fail"

- Students will pass in the subject if they score 50 and above.
  - Display: "Student [Name] from Class [Class], Section [Section] has scored [Mark]. Result: Pass"

- If subject mark is between 50 and 60, grade student as good.
  - Display: "Student [Name] from Class [Class], Section [Section] has scored [Mark]. Grade: Good"

- If subject mark is between 60 and 80, grade student as very good.
  - Display: "Student [Name] from Class [Class], Section [Section] has scored [Mark]. Grade: Very Good"

- If subject mark is between 80 and 100, grade student as outstanding.
  - Display: "Student [Name] from Class [Class], Section [Section] has scored [Mark]. Grade: Outstanding"

Make sure to print their mark in every statement to prove that the condition is
fulfilled. Moreover, name, class, and section should be also displayed along with
the marks and their grade.

In [38]:
name = input('Enter Name : ')
class_ = input('Enter Class : ')
section = input('Enter Section : ')
subject_name = input('Enter the Subject Name : ')
while True :
    mark = float(input('Mark Scored in that subject : '))
    if 0 <= mark <= 100 :
        print('----Tracing Your {} mark------'.format(subject_name))
        print('Name : {}'.format(name))
        print('Class : {}'.format(class_))
        print('Section : {}'.format(section))
        print('{} mark is {}'.format(subject_name,mark))
        if mark < 50 :
            print("We are sorry to inform you that you're failed in {}".format(subject_name))
        elif mark >= 50 :
            print('Congratulations! Pass in {}'.format(subject_name))
            if  50 <= mark < 60 :
                print('Remark : Good in {}'.format(subject_name))
            elif 60 <= mark < 80 :
                print('Remark : Very Good in {}'.format(subject_name))
            else :
                print('Remark : Outstanding in {}'.format(subject_name))
        break
    else :
        print('error: mark should be between 0 and 100 only')
        continue

----Tracing Your Physics mark------
Name : Abir
Class : 10
Section : B
Physics mark is 92.0
Congratulations! Pass in Physics
Remark : Outstanding in Physics

**LOOPS**

1. Using a nested for loop generate the following pattern:

Tested With n = 5

In [42]:
n = int(input())
for i in range(1,n+1) :
    for j in range(i):
        print("*",end=' ')
    print()
for i in range(n-1,0,-1):
    for j in range(i):
        print("*",end=' ')
    print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

**2. Write a Python program to get the Fibonacci series between 0 to 50.**

In [46]:
fibo = [0,1]
i = int(2)
while True :
    if fibo[i-1]+fibo[i-2] <= 50 :
        fibo.append(fibo[i-1]+fibo[i-2])
    else :
        break
    
    i = i+1
for x in fibo :
    print(x,end=" ")

0 1 1 2 3 5 8 13 21 34

**3. Write a Python program to check whether each alphabet of the input string
is a vowel or consonant.**

Tested With "abir"

In [48]:
s = input()
vowels = ['A','E','I','O','U','a','e','i','o','u']
for ch in s :
    if ch in vowels :
        print("{} is vowel".format(ch))
    else :
        print("{} is consonant".format(ch))

a is vowel
b is consonant
i is vowel
r is consonant

**4. Write a Python program to create the multiplication table (from 1 to 10) of
a number. Go to the editor**

In [49]:
n = int(input('Input A Number : '))
print('Expected Output : ')
for i in range(1,11):
    prod = int(i*n)
    print('{} x {} = {}'.format(n,i,prod))

Expected Output :
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

**5. Write a Python program to construct the following pattern, using a
nested loop number.**

In [51]:
n = int(input())
for i in range(1,n+1) :
    for j in range(i):
        print(i,end='')
    print()
for i in range(n-1,0,-1):
    for j in range(i):
        print(i,end='')
    print()

1
22
333
4444
55555
666666
7777777
88888888
999999999
88888888
7777777
666666
55555
4444
333
22
1

**6. Display numbers from -10 to -1 using for loop**

In [52]:
for i in range(-10,0):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

**7. Reverse a given integer number and find square root.**

Test with
4201 and 94

In [54]:
# without using loop
num = input()
num = num[::-1]
num = int(num)
num = num**.5
print(num)

32.0

In [56]:
# with using loop
num = int(input())
sum = int(0)
while num :
    rem = num%10
    sum = sum*10 + rem
    num = num//10 # integer divison
sqRoot = sum**.5
print(sqRoot)

7.0

**LIST**

**1. Reverse and concate two list.**

In [61]:
list1 = ['Apple','Banana','Orange','Mango']
list2 = ['Hilisha','Salmon','Cat Fish','Shrimp']
concatedList = list1 + list2
reversedList = concatedList[::-1]
print("Concate of list1 and list2 ",concatedList)
print("Reverse of concatedList ",reversedList)

Concate of list1 and list2  ['Apple', 'Banana', 'Orange', 'Mango', 'Hilisha', 'Salmon', 'Cat Fish', 'Shrimp']
Reverse of concatedList  ['Shrimp', 'Cat Fish', 'Salmon', 'Hilisha', 'Mango', 'Orange', 'Banana', 'Apple']

**2. Remove duplicate items from the list.**

In [62]:
listWithDuplicates = [1,10, 100, 20, 1, 20, 10, 39, 22, 329,100, 39, 20, 1]
listWithUnique = []
for i in listWithDuplicates :
    if i not in listWithUnique:
        listWithUnique.append(i)
print("List after Removing the duplicates : ",listWithUnique)

List after Removing the duplicates :  [1, 10, 100, 20, 39, 22, 329]

**3. write a funcion to swap elements of two positions in a list.**

In [67]:
def swap(i,j,a) :
    if i>=0 and j<len(a) :
        a[i],a[j] = a[j],a[i]
arr = [1,3,4,7,5]
swap(1,4,arr)
# the change reflects in the main array because 
# arrays in python are passed by reference
print(arr)

[1, 5, 4, 7, 3]

**4. Write a function to find sum and average of a list.**

In [68]:
def info(arr):
    sum = 0
    for i in arr :
        sum = sum + i
    return sum, sum/len(arr)
list1 = [10,20, 10, 20,40]
sum,avg = info(list1)
print("Sum = {} , Average = {}".format(sum,avg))

Sum = 100 , Average = 20.0

**5. Write a Python function that takes two lists and returns True if they
have at least one common member.**

In [69]:
def atLeastOneCommon(list1, list2):
    n1 = len(list1)
    n2 = len(list2)
    if n1>n2:
        for i in list2 :
            if i in list1:
                return True
        return False
    else :
        for i in list1 :
            if i in list2:
                return True
        return False
arr1 = [1,2,3,4]
arr2 = [3,5,7,9]
arr3 = [5,7,9,11]
print('arr1 and arr2 : ',atLeastOneCommon(arr1,arr2))
print('arr1 and arr3 : ',atLeastOneCommon(arr1,arr3))

arr1 and arr2 :  True
arr1 and arr3 :  False

**6. Write a python program to check whether two lists are circularly
identical.**

checked for  
test -1 

1 2 3 4 5 

4 5 1 2 3

test -2

10 10 0 0 10 

0 0 10 10 10

test -3

5 4 3 2 1 

1 5 4 3 2

In [76]:
# to identify this we first take the list1 twice by concatenation
# then i will check if the list2 exists as a sub array in the concatenated list
def isCircularlyIdentical(arr1,arr2) :
    n1 = len(arr2)
    n2 = len(arr1)
    if n1 != n2 :
        return False
    arr  = arr1 + arr1
    n = len(arr)
    for i in range(0,n) :
        if arr[i:i+n2] == arr2:
            return True
    return False
list1 = [int(x) for x in input().split()]
list2 = [int(x) for x in input().split()]
statement =  'Two Lists are circularly identical' if isCircularlyIdentical(list1,list2) else 'Two Lists are not circularly identical'
print(statement)

Two Lists are not circularly identical

**7. Write a Python program to find the second smallest and largest number in a list .**

Tested With
[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [79]:
arr = [int(x) for x in input().split()]
sorted(arr)
second_minimum = int(0)
second_maximum = int(0)
i = int(0)
while arr[0] == arr[i] :
    i = i + 1
second_minimum = arr[i]
i = int(len(arr)-1)
while arr[-1] == arr[i] :
    i = i - 1
second_maximum = arr[i]
print("Second Minimum Value {} \nSecond Maximum Value {}".format(second_minimum,second_maximum))

Second Minimum Value 2
Second Maximum Value 3

**8. Write a Python program to compute the difference between two lists.**

In [81]:
color1 = ["red","orange","green","blue","white"]
color2 = ["black","yellow","green","blue"]
## convert them into set
color1 = set(color1)
color2 = set(color2)
print("color1 - color2 : ",color1-color2)
print("color2 - color1 : ",color2-color1)

color1 - color2 :  {'orange', 'white', 'red'}
color2 - color1 :  {'black', 'yellow'}